{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Admin Page</h1>
                        <ul class="nav-treeview">
                            <li><a href="{% url 'register_staff' %}">Register New Staff</a></li>
                            <li><a href="{% url 'register_student' %}">Register New Student</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}